.app {
    > .theme {
        background-color: #FF6600;
    }
}

.card-custom {
    .sub-header.--size {
        font-size: 1.5em;
    }
    .sub-header.--black {
        color: black !important;
    }
}


