.app {
    > .theme {
        background-color: #FF6600;
    }
}

.app-theme {
    background-color: #FF6600 !important;
}

.app__icon--primary, .app__icon--primary .v-list-group__header .v-list-group__header__prepend-icon .v-icon {
    color: #FF6600 !important;
}

.app__icon--primary-darker {
    color: #c95000 !important;
}

.app-theme--darker {
    background-color: #c95000 !important;
}

.card-custom {
    .sub-header.--size {
        font-size: 1.5em;
    }
    .sub-header.--black {
        color: black !important;
    }
}

.chat-balloon {
    > .-gray {
        padding: 10px;
        display:inline-block;
        border-radius: 25px;
        border: 1px solid #c5c4c4;
        background-color: #F1F0F0;
        color: black;
    }

    > .-blue {
        padding: 10px;
        display:inline-block;
        border-radius: 25px;
        border: 1px solid #066fd1;
        background-color: #0099FF;
        color: white;
    }
}

.text--gray {
    color: gray;
}

.text--bold {
    font-weight: bolder;
}

.text--wrap {
    word-wrap: break-word;
}

.app-button--primary {
    background-color: #FF6600 !important;
    color: white !important;
}

